.contacts-header__link {
  color: getColor(secondary);
  font-weight: getFW(w500);
  font-size: getFS(f14);
  line-height: getLH(lh117);
  letter-spacing: 2%;
  text-decoration: none;
  fill: getColor(secondary);
  display: flex;
  gap: 10px;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor(main);
    fill: getColor(main);
  }
}

.contacts-header {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
